body {
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;
            margin: 50px;
            background-color:#C5E5FA;           
}
		 
label {
            font-weight:bold;
            width:150px;
            font-size:14px;
 }
		 
.box {
            border:#666666 solid 1px;
}
